* {
  box-sizing: border-box;
}


body {
  margin: 0;
  font-family: "Segoe UI", sans-serif;
  background-color: #0f172a;
  color: #e5e7eb;
}


.container {
  max-width: 1000px;
  margin: auto;
  padding: 24px;
}


h1 {
  text-align: center;
  margin-bottom: 24px;
  color: #38bdf8;
}


textarea {
  width: 100%;
  background-color: #020617;
  color: #e5e7eb;
  border: 1px solid #334155;
  border-radius: 8px;
  padding: 12px;
  font-family: monospace;
  font-size: 14px;
  resize: vertical;
}


button {
  margin-top: 16px;
  padding: 10px 18px;
  background-color: #38bdf8;
  color: #020617;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-weight: 600;
}


button:hover {
  background-color: #0ea5e9;
}


.result-box {
  margin-top: 24px;
  background-color: #020617;
  border: 1px solid #334155;
  border-radius: 8px;
  padding: 16px;
}


pre {
  white-space: pre-wrap;
  word-break: break-word;
  font-size: 13px;
}

section {
  margin-top: 16px;
}


h4 {
  margin-bottom: 6px;
  color: #7dd3fc;
}


ul {
  padding-left: 20px;
}


li {
  margin-bottom: 6px;
}

.diff-container {
  display: flex;
  gap: 16px;
  margin-top: 20px;
}


.diff-box {
  flex: 1;
  background-color: #020617;
  border: 1px solid #334155;
  border-radius: 8px;
  padding: 12px;
  overflow-x: auto;
}


.diff-box pre {
  font-size: 13px;
  color: #e5e7eb;
}

.loader-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}


.spinner {
  border: 4px solid #334155; /* Light border */
  border-top: 4px solid #38bdf8; /* Colored part */
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
  margin-bottom: 10px;
}


@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}


.loader-container p {
  color: #7dd3fc;
  font-weight: 500;
}
